.gallery {
  margin-top: 60px;
  text-align: center;
}
.gallery .main-image {
  width: 450px;
  margin-bottom: 30px;
}

.main-image img {
  width: 460px;
  border-radius: 25px;
  margin-left: 100px;
}

.extra-images {
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}

.extra-images img {
  border-radius: 10px;
  width: 100px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .gallery .main-image {
    flex-direction: column;
    justify-content: center;
    width: 375px;
  }
  .main-image img {
    width: 350px;
    border-radius: 0px;
    margin-left: -20px;
  }

  .extra-images {
    display: none;
  }
}
