.purchase-navigation {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding: 0;
}

.purchase-links a {
  align-items: center;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
}

.push {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding-left: 80%;
}

.icon {
  width: 50px;
  height: auto;
  background: green;
}

.cart-menu {
  margin-right: 55px;
}

.profile-menu:hover {
  border: 3px solid orange;
  border-radius: 50%;
}

@media (max-width: 500px) {
  nav {
    border-bottom: none;
  }

  nav ul {
    flex-direction: row;
  }
  .logo {
    height: auto;
    width: 180px;
  }
  .navigation {
    height: 25px;
  }
  .navigation a {
    display: none;
  }

  .purchase-navigation {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-left: -85px;
  }

  .purchase-navigation-section {
    margin-left: 15px;
  }

  .cart-menu {
    margin-right: 35px;
  }

  .purchase-navigation img {
    width: 25px;
    height: auto;
  }

  .profile-menu {
    width: 30px;
    height: auto;
  }

  .push {
    padding-left: 0%;
    margin-left: -135px;
    padding-top: 15px;
  }
}

.opacity {
  opacity: 0.7;
}
