.navigation {
  width: 100%;
}

.purchase-navigation {
  display: flex;
  flex-direction: row-reverse;
}

.purchase-links {
  align-items: center;
  cursor: pointer;
}

.cart-menu {
  margin-right: 20px;
}

.profile-menu:hover {
  border: 3px solid orange;
  border-radius: 50%;
}

@media (max-width: 400px) {
  .navigation {
    width: 350px;
    display: none;
  }
}

.pink {
  background: pink;
  width: 300px;
}

.opacity {
  opacity: 0.7;
}
