.purchase-navigation {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.purchase-links {
  align-items: center;
  cursor: pointer;
}

.cart-menu {
  margin-right: 20px;
}

.profile-menu:hover {
  border: 3px solid orange;
  border-radius: 50%;
}

.pink {
  background: pink;
  width: 300px;
}
